---
import Layout from "../layouts/Layout.astro";
import StoreDetail from "../components/StoreDetail.astro";

import { getImgs } from "../libs/microcms";
import { getEvnetDate } from "../libs/microcms";
import { getStores } from "../libs/microcms";

//microCMSの呼び出し(画像データを一括して取得)
const images = await getImgs({});
//microCMSの呼び出し（開催日時、場所を取得）
const eventDate = await getEvnetDate({});
//microCMSの呼び出し（お店情報を取得）
const stores = await getStores({});

// ■変数
// 曜日を表す文字列の配列を作っておく
var WeekChars = ["(sun)", "(mon)", "(the)", "(wed)", "(thu)", "(fri)", "(sat)"];

//ランダムの値を取得
const min = 1; // 最小値を指定
const max = 5; // 最大値を指定
let num = Math.floor(Math.random() * (max + 1 - min)) + min;
---

<Layout title="SUNDAY MARKET CiBO">
  <header class="header">
    <div class="header-top">
      <div class="header-top__title">
        <h1>SUNDAY MARKET CiBO</h1>
      </div>
      <!-- ハンバーガーメニュー -->
      <div class="header-top__hamburger">
        <span></span><span></span><span></span>
      </div>
      <div class="header-top__menu">
        {
          num === 1 && (
            <img
              class="header-top__menu-img"
              src="images/tomato.png"
              alt="トマトのイラスト"
            />
          )
        }
        {
          num === 2 && (
            <img
              class="header-top__menu-img"
              src="images/carrot.png"
              alt="にんじんのイラスト"
            />
          )
        }
        {
          num === 3 && (
            <img
              class="header-top__menu-img"
              src="images/greenpepper.png"
              alt="ピーマンのイラスト"
            />
          )
        }
        {
          num === 4 && (
            <img
              class="header-top__menu-img"
              src="images/potato.png"
              alt="ジャガイモのイラスト"
            />
          )
        }
        {
          num === 5 && (
            <img
              class="header-top__menu-img"
              src="images/vegetables.png"
              alt="野菜のイラスト"
            />
          )
        }

        <div class="header-top__menu-item"><a href="#about">ABOUT</a></div>
        <div class="header-top__menu-item">
          <a href="#next-event">NEXT EVENT</a>
        </div>
        <div class="header-top__menu-item"><a href="#store">STORES</a></div>
        <div class="header-top__menu-item"><a href="#parking">PARKING</a></div>
      </div>
      <!-- ハンバーガーメニュー -->
    </div>

    <div class="header-mv-field">
      {
        images.contents.map((image: any) => (
          <img class="header-mv" src={image.img.url} alt="メイン画像" />
        ))
      }
      <!-- <img class="header-mv" src="images/mv.jpg" alt="メイン画像" />
      <img class="header-mv" src="images/mv2.jpg" alt="メイン画像" />
      <img class="header-mv" src="images/mv3.jpg" alt="メイン画像" />
      <img class="header-mv" src="images/mv4.jpg" alt="メイン画像" /> -->
    </div>

    <div class="header-overlay"></div>
    <div class="header-scrolldown"><span>Scroll</span></div>
  </header>
  <main class="main">
    <section id="about" class="about">
      <h2 class="about__title">ABOUT</h2>
      <div class="about-block">
        <p class="about-block__text">
          Sunday Market CiBO
          (サンデーマーケットチーボ)は、毎年3月から12月の第4日曜日に開催している出雲のファーマーズマーケットです。
        </p>
        <p class="about-block__text">
          出店者さんの多くは出雲市内の農家さんや食に関わっている方々で、CiBOのメンバー自ら出店してもらえる生産者さんと直接やり取りを行い、信頼関係を築きながら、安心安全なものを提供いただいております。
        </p>
        <img
          class="about-block__img"
          src="images/about_img.jpg"
          alt="イベントの雰囲気が分かる画像"
        />
      </div>
    </section>
    <section id="next-event" class="next-event">
      <h2>NEXT EVENT</h2>
      <div class="next-event-block">
        <span class="next-event-block__topleft"></span>
        <span class="next-event-block__topright"></span>
        <span class="next-event-block__bottomright"></span>
        <span class="next-event-block__bottomleft"></span>
        <!-- <p class="next-event-block__day">2023.10.25 wed</p> -->
        <p class="next-event-block__day">
          {new Date(eventDate.contents[0].start).getUTCFullYear()}.{
            new Date(eventDate.contents[0].start).getUTCMonth() + 1
          }.{new Date(eventDate.contents[0].start).getUTCDate()}&nbsp;{
            WeekChars[new Date(eventDate.contents[0].start).getDay()]
          }
        </p>
        <p class="next-event-block__time">
          {new Date(eventDate.contents[0].start).getUTCHours() + 9}&#058;{
            ("0" + new Date(eventDate.contents[0].start).getUTCMinutes()).slice(
              -2
            )
          }&mdash;{new Date(eventDate.contents[0].end).getUTCHours() + 9}&#058;{
            ("0" + new Date(eventDate.contents[0].end).getUTCMinutes()).slice(
              -2
            )
          }
        </p>
        <p class="next-event-block__place">{eventDate.contents[0].place}</p>
      </div>
    </section>
    <section id="store" class="store">
      <h2>STORES</h2>
      <div class="store-container">
        {
          stores.contents.map((store: any, index: any) => (
            <>
              <div class="store-block">
                <img
                  src={store.store_img.url}
                  alt="店の画像"
                  class="store-block__img"
                />
                <div class="store-block__body">
                  <h3 class="store-block__name">{store.store_name}</h3>
                  <p
                    class="store-block__text"
                    set:html={store.store_detail.replace(/<([^>]+)>/g, "")}
                  />
                </div>
              </div>
              <StoreDetail
                img={store.store_img.url}
                name={store.store_name}
                detail={store.store_detail}
                address={store.store_address}
                tel={store.store_tel}
                mail={store.store_mail}
                instagram={store.store_instagram}
                facebook={store.store_facebook}
                X={store.store_X}
                index={index}
              />
            </>
          ))
        }
      </div>
    </section>
    <section id="parking" class="parking">
      <h2>PARKING</h2>
      <img src="images/parking.png" alt="地図の画像" class="parking__img" />
      <div class="parking__detail">
        <div class="parking__box_left parking__box_left-first">
          <p class="parking__icon">P1</p>
        </div>
        <div class="parking__box_right parking__box_right-first">
          <p class="parking__text">
            市役所西側駐車場（６区画の斜線区画は市役所の土日窓口専用のため使用できません）
          </p>
        </div>
      </div>
      <div class="parking__detail">
        <div class="parking__box_left">
          <p class="parking__icon">P2</p>
        </div>
        <div class="parking__box_right">
          <p class="parking__text">市役所第２駐車場</p>
        </div>
      </div>
      <div class="parking__detail">
        <div class="parking__box_left parking__box_left-last">
          <p class="parking__icon">P3</p>
        </div>
        <div class="parking__box_right parking__box_right-last">
          <p class="parking__text">中央保育所北側駐車場</p>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer-block-nav">
      <a href="#about" class="footer-block-nav__text">ABOUT</a>
      <a href="#next-event" class="footer-block-nav__text">NEXT EVENT</a>
      <a href="#store" class="footer-block-nav__text">STORES</a>
      <a href="#parking" class="footer-block-nav__text">PARKING</a>
    </div>
    <div class="footer-block-sns">
      <a href="#" class="footer-block-sns__icon"
        ><i class="fa-brands fa-square-facebook"></i></a
      >
      <a href="#" class="footer-block-sns__icon"
        ><i class="fa-brands fa-square-instagram"></i></a
      >
    </div>
  </footer>
  <script>
    const humburger = document.querySelector(".header-top__hamburger");
    const menu = document.querySelector(".header-top__menu");
    if (humburger !== null && menu !== null) {
      humburger.addEventListener("click", () => {
        humburger.classList.toggle("active");
        menu.classList.toggle("is-active");
      });
      menu.addEventListener("click", () => {
        humburger.classList.remove("active");
        menu.classList.remove("is-active");
      });
    }

    const stores = document.querySelectorAll(".store-block");
    const details = document.querySelectorAll(".store-detail");
    // const back = document.querySelector(".store-detail-back");

    if (details !== null) {
      stores.forEach((store, index) => {
        for (let i = 0; i <= index; i++) {
          if (index === i) {
            const target = document.querySelector(".detail" + i);
            if (target !== null) {
              store.addEventListener("click", () => {
                target.classList.add("is-active");
              });
            }
          }
        }
      });
      // back or detailをトリガーにする
      details.forEach((detail) => {
        detail.addEventListener("click", () => {
          detail.classList.remove("is-active");
        });
      });
    }
  </script>
  <!-- gsapアニメーション -->
  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
  ></script>
  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
  ></script>
  <script src="../js/app"></script>
  <!-- gsapアニメーション -->
</Layout>
