---

const {
  name,
  img,
  detail,
  index,
  address,
  tel,
  mail,
  instagram = "",
  facebook = "",
  X = "",
} = Astro.props;
const className = "store-detail" + " " + "detail" + index;

---

<div class={className}>
  <div class="store-detail-block">
    <h3 class="store-detail__title">STORES</h3>
    <p class="store-detail-back">◀ BACK</p>
    <img src={img} alt="店の画像" class="store-detail__img" />
    <h4 class="store-detail__name">{name}</h4>
    <div class="store-detail__text" set:html={detail} />
    <div class="store-detail__contact">
      <hr />
      <p class="store-detai__address">Address:{address}</p>
      <p class="store-detai__tel">Tel:{tel}</p>
      <p class="store-detai__mail">Mail:{mail}</p>
    </div>
    <div class="store-detail__sns">
      {
        { instagram } != "" && (
          <a href={instagram}>
            <i class="fa-brands fa-square-instagram" />
          </a>
        )
      }

      <a href={facebook}><i class="fa-brands fa-square-facebook"></i></a>
      <a href={X}><i class="fa-brands fa-square-x-twitter"></i></a>
    </div>
  </div>
</div>
